---
import LogtipoSvg from "/public/logotipo.svg";
---

<header class="p-3 flex justify-between">
  <a href="/" class="flex flex-1 justify-center">
    <LogtipoSvg fill="var(--color-brand-1)" />
  </a>
</header>
